@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cedarville+Cursive&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-red: #fe5358;
  --primary-green: #4fd13e;
  --primary-gray: #747474;
  --primary-blue: #005bd3;
  --primary-orange: #fe7257;
  --dark-blue: #183153;
  --bg-clr: #eceff6;
  --other-red:#FF003C;
  --light-gray:#f1f1f1
}
